/* General reset */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* NAVBAR */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; /* Adjust this height as needed */
}

.logo-text {
  color: black;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold if you want */
}

.Header {
  height: 5vh; /* Adjust this height as needed */
}

.price-cart-icon {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  color: black;
  padding: 5px;
  margin-right: 10px;
}

.cart-icon-container {
  margin-right: 10px;
  margin-left: 10px;
}

/* TABS */
.tabs-container {
  position: fixed;
  top: 60px; /* Fixed position 70px from the top */
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #FDFDFD;
  z-index: 1000;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  border-bottom: 2px solid black;
}

/* MENU */
.menuPage {
  background-color: #FDFDFD;
  min-height: 90vh;
  width: 100vw;
}

.menu-section {
  padding: 10px 0;
}

.menu-section-category{
  padding:0;
  font-weight: 600;
  font-size: 24px;
}

.products-container {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.product-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.product-price {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-button {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: red;
}

.product-button:hover {
  cursor: pointer;
  background-color: #0062cc;
}

/* BUTTON */
.button-container {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
    width: 80vw; /* Set the width to 80% of the viewport */
}

.button-container Button {
  width: 100%; /* Make the button take the full width of its container */
  background-color: black; /* Green background */
  color: white; /* White text */
  border-radius: 12px;
}

.total-price {
  flex: 2;
  text-align: right;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
