.App {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2b2c30;
}
.Navigation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-width: 100vw;
  min-height: 92vh;
}

.InApp {
  flex-grow: 1;
  max-width: 100vw;
  max-height: 90vh ;
}

.homePage{
  margin-top: 12px;
  max-height: 90vh ;
  min-width: 100vw;
}
.bannerContainer{
  background-color: #ccc;
}
.addProductBttnHomePage{
  color: white;
  width: 80px;
}
.tabLabel{
  text-align: center;
}

.tabItem{
  display: flex;
  justify-content: center;
}


.emptyCart{
  margin-top: 60px;
 height: 90vh;
 width: 100vw;
 display: flex;
 justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}



/* Register */

.formContainer {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  max-width: 90vw;
  height: auto;
  border: 5px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.addressContainertitle {
  font-size: 1.5rem;
  text-align: center;
}

.formContainer #inputUsername {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer #inputPassword {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: white;
}

/* LOGIN */

.loginParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: black;
  color: white;
}

.loginContainer input {
  border: 2px solid black;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* NAVBAR */

.logo {
  width: 75px;

  height: 75px;
}

.Header{
  height: 5vh;
}


.price-cart-icon {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.price {
  color: white;
  padding: 5px;
  margin-right: 10px;
}

.cart-icon-container {
  margin-right: 10px;
  margin-left: 10px;
}

/* Banner  FDBF50 */
.banner {
  margin-top: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bannerBttn {
  background-color: red;
  color: black;
}

.banner-left-side {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.bannerRedAlert {
  font-size: 2rem;
  color: red;
  margin-bottom: 40px;
}


.banner-right-side {
  flex: 2;
  max-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bannerImageContainer {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  max-height: 400px;
}

.bannerImage {
  width: 100%;
  height: 100%;
  max-height: 400px;
}




.bannerTitle {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

.bannerRedAlert {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.bannerButton {
  background-color: #2c1654;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}




/* Carousel */
.carouselParent {
  background-color: #2b2c30;
  display: flex;
  flex-direction: column;
}
.aboveCarouselTitle {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center; /* Add center alignment */
  color: white;
  margin: auto;
  padding: 10px;
}

.carousel-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2c30;
  height: 100%;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.carousel-image {
  width: 150px;
  height: 150px;
}

.carousel-title {
  font-size: 1rem;
  color: white;
}

.carousel-description {
  font-size: 1rem;
  color: green;
}
.carouselFooter{
  display: flex;
  justify-content: space-between; /* Items will be evenly spaced horizontally */
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.carousel-name {
  font-size: 1rem;
  color:red;
}
.carousel-price{
  color: #ccc;
  font-size: 1.3rem ;
}

/* added styles for full width */
.react-multi-carousel-list {
  width: 100%;
}

.react-multi-carousel-track {
  display: flex;
  width: 100%;
}

.react-multi-carousel-item {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* optional styles to center items horizontally and vertically */
.react-multi-carousel-item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Menu */
.menuPage {
  background-color: white;
  min-height: 90vh;
  width: 100vw;
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.tabs-container {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 999
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}


.products-container {
  margin-top: 3rem;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  padding: 1rem;
  margin: 1rem;
}

.product-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.product-price {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-button {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: red;
}

.product-button:hover {
  cursor: pointer;
  background-color: #0062cc;
}



.total-price {
  flex: 2;
  text-align: right;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .MuiTabs-root {
    width: 100%;
    overflow-x: scroll;
  }
}

/* CART */

.summaryEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.summaryButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}
.cart-container {
  background-color: #fff;
  height: 100%;
  color: #000;
  padding: 4px;
  width: 66.666667%;
}
.cartPage{
  background-color: #fff;
  padding-top: 30px;
  max-width: 100vw;
  overflow-y: scroll;
  margin-bottom: 40px;
  min-height: 92vh;
}

.products-summary
{
  max-width: 80%;
}

.cart-empty {
  background-color: #fff;
  height: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.cart-tab {
  display: block;
}

.cart-hidden {
  display: none;
}

.cart-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.cart-button {
  display: flex;
  align-items: center;
}

/* Product Cart Card */

.product-summary-card {
  margin-top: 20px;
  display: flex;
  text-align: center; 
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e2e8f0;
  height: 300px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.product-summary-image {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.product-summary-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-summary-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  max-width: 100vw;
}


.product-summary-info {
  flex-grow: 1;
  text-align: right;
  max-width: 100vw;
}

.quantityFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.quantityFlex button {
  width: 60px; /* Adjust the width as per your preference */
}

.product-summary-info h3 {
  margin-bottom: 0.5rem;
}

.product-summary-info p {
  color: #718096;
}



.product-price-qt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tabs */

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.attachment-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attachment-label input[type="file"] {
  display: none;
  width: 100%;
  height: 100%;
}

.attachment-label button {
  display: block;
  width: 100%;
  height: 100%;
}
.addingNewProdct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

@media (max-width: 600px) {
  .addingNewProdct {
    margin: 10px;
  }
}

.addingNewProdcttitle {
  padding-top: 70px;
  text-align: center;
  font-size: 2rem;
}



/* Orders */

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.ordersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.order {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px) / 3); /* show 5 orders in a row on desktop */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
}

.orderHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.orderNumber {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.orderStatus.ready {
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.orderStatus.pending {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.orderDetails {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  max-width: 100%;
}

.orderName {
  font-size: 20px;
  font-weight: bold;
}

.orderAmount {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  /* apply mobile styles */
  .order {
    width: 100%;
    max-width: none;
  }
}

.myorder {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%; /* set the width to 100% by default */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* apply styles for mobile screens with a maximum width of 767px */
  .myorder {
    max-width: 70vw; /* set the maximum width to 70vw for mobile screens */
  }
}

.myorderHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.myorderNumber {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.myorderStatus.ready {
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.myorderStatus.pending {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.myorderItem {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
  height: 600px;
}

.myorder-image {
  width: 100px;
  height: 100px;
  padding-right: 5px;
}

.myorderDetails {
  justify-content: center;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
}

.myorderName {
  font-size: 20px;
  font-weight: bold;
}

.myorderAmount {
  font-size: 20px;
  font-weight: bold;
}
.myorderprice {
  font-size: 20px;
  font-weight: bold;
}

.myorderTotalPrice {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 30px;
}


.fab-container {
  position: fixed;
  bottom: 100px;
  right: 30px;
  display: flex;
}

.cart-icon {
  color: white;
}



.urlExample{
  font-size: 12px;
}



/* Banner & Footer */

/* Styles for mobile devices */
@media screen and (max-width: 600px) {
  .banner {
    height: 40vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carouselParent {
    height: 40vh;
    }
}

/* Styles for tablet devices */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .banner {
    height: 48vh;
    display: flex;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  } 
  .carouselParent {
    height: 40vh;
    }
}

/* Styles for desktop devices */
@media screen and (min-width: 1024px) {
  .banner {
    height: 52vh;
    display: flex;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .carouselParent {
    height:40vh
  }
}



.footer {
  width: 100%;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: pink;
  text-decoration: none;
}

.banner-image {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
}

/* productspreview left&right buttons */

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  width: 60px;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  width: 60px;
}

.editProductArea{
color: white;
}


.product-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  position: absolute;
  width: 150px;
  height: 150px;
}

.productsSummary{
max-width: 100vw;
}


.addremoveButtons{
  max-width: 5vw;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall {
width: 50px;
}

.productPreviewBttn{
  width: 50px;
}
.label {
  color: blue;
  font-weight: bold;
}
