/* CART */

.emptyCart {
  margin-top: 60px;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.summaryEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.total-price {
  display: flex;
  justify-content: space-between;   
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.total-price span {
  margin-right: 20px;
  color: black;
}

.summaryButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.add-item-button {
  background-color: black;
  color: white;
  width: auto;
  border-radius: 12px;
}

.add-item-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  width: 100%;
  margin-bottom: 10px; /* Space below the button */
}


.summaryButtons Button {
  margin-right: 10px;
  border-radius: 12px;
}

.cart-container {
  background-color: #fff;
  height: 100%;
  color: #000;
  padding: 4px;
  width: 66.666667%;
}

.cartPage {
  background-color: #fff;
  margin-top: 50px;
  max-width: 100vw;
  margin-bottom: 40px;
  min-height: 92vh;
}

.products-summary {
  max-width: 80%;
}

.cart-empty {
  background-color: #fff;
  height: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.cart-tab {
  display: block;
}

.cart-hidden {
  display: none;
}

.cart-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.cart-button {
  display: flex;
  align-items: center;
}

.summaryButtons Button {
  background-color: black;
  color: white;
}
