

.myorderContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  padding-bottom: 60px; /* Space at the bottom of the page */
}

.myorder {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-y: auto;
  }
  @media screen and (max-width: 767px) {
    /* apply styles for mobile screens with a maximum width of 767px */
    .myorder {
      max-width: 70vw;
    }
  }
  
  .order{
    align-items: start;
  }


  .myorderHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 20px;
    padding: 10px;
  }
  .myorderNumber {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .myorderStatus.ready, .myorderStatus.pending {
    font-size: 20px;
    font-weight: bold;
  }
  
  .myorderStatus.ready {
    color: green;
  }
  
  .myorderStatus.pending {
    color: red;
  }
  
  .myorderItem {
    padding: 10px;
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    height: 600px;
  }
  
  .myorder-image {
    width: 100px;
    height: 100px;
    padding-right: 5px;
  }
  
  .myorderDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the products container */
    height: 200px;
    justify-content: center;
  }
  
  .myorderName {
    font-size: 20px;
    font-weight: bold;
  }
  
  .myorderAmount {
    font-size: 20px;
    font-weight: bold;
  }
  .myorderprice {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: bold;
  }
  
  .myorderTotalPrice {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 0;
  }
  
  .emptyCartButton {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.emptyCart {
  margin-top: 60px;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Arrange text and button vertically */
  align-items: center;
  justify-content: center; /* Center both vertically and horizontally */
}