.addProduct {
  position: relative;
}

.toggleButton {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #0056b3;
}

.formWrapper {
  position: absolute;
  top: 40px; /* Adjust this value to control the distance from the toggle button */
  left: 0;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.addProductTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 120px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
