/* Admin page layout */
.adminPage {
    display: flex;
  width: 100vw;
  }
  
  /* Sidebar */
  .sidebar {
    width: 100px;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    position: fixed; /* Position the sidebar fixed */
    top: 80px;
    left: 0;
    text-align: center;
  }
  
  .sidebar-title {
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
  }
  
  .sidebar-item {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    color: black;
  }
  
  .sidebar-item:hover,
  .sidebar-item.active {
    background-color: orange;
  }
  
  /* Main content */
  .main-content {
    margin-left: 80px;
    padding: 20px;
    width: calc(100% - 80px);
    overflow-x: hidden;
  }
  
  /* Add product form */
  .addingNewProdct {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .addingNewProdcttitle {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    padding-right: 10px; /* Add padding to ensure content doesn't get cut off */
  }
  
  .formContainer label {
    margin-top: 10px;
  }

  .titleAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.addPBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
  color: black;
  width: 100px;
  height: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}


.addPBttn:hover{
  background-color: orange;
}

.addPBttn.cancel {
  /* Styles for the "Cancel" button */
  background-color: red;
  color: white;
}

  #AddingProduct {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    width: 200px !important ; /* Fixed width of 300px */
    box-sizing: border-box; /* Include padding and border in element's total width */
    word-wrap: break-word; /* Allow long text to wrap */
    overflow-wrap: break-word; /* Ensure word breaks in long text */
    white-space: pre-wrap; /* Preserve whitespace and wrap as necessary */
  }
  
  
  /* Carousels */
  .carouselParentadmin {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .aboveCarouselTitleadmin {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .carousel-containeradmin {
    margin: 0 auto;
    background-color: #CC8721;
  }
  
  /* Alert */
  .stack {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 600px) {
    .addingNewProdct {
      margin: 10px;
    }
  
    #AddingProduct {
      width: 100%; /* Ensure it takes up full width on mobile */
      white-space: normal; /* Allow text to wrap normally */
    }
  }
  


  .productList {
    margin-top: 20px;
  }
  
  .productListTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .productItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #d3d3d3 ;
    padding-bottom: 10px; 
  }
  
  .productImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .productName {
    flex: 1;
    margin-right: 30px;
  }
  
  .productPrice {
    margin-right: 30px;
  }
  
  .editButton,
  .deleteButton {
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
  }
  
  /* Adjust icon size */
  .MuiSvgIcon-root {
    font-size: 20px;
  }