.dialog-paper {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: transparent;
  padding: 10px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.close-button:hover {
  color: red; /* Change color on hover if desired */
}

.addToCartHolder {
  display: flex;
  justify-content: center !important;
  width: 100%;
}

.addToCart {
  background-color: black !important;
  color: white !important;
  width: 80% !important;
}
